<h1 mat-dialog-title>{{dialogTitle}}</h1>

<div mat-dialog-content class="pb-3">
    <p *ngIf="checkFine.fine !== 0">Are sure you wanna return? The fine is ₹{{checkFine.fineAmount}}</p>
    <p *ngIf="checkFine.fine == 0">There is no fine. you can return the book.</p>
</div>
<div mat-dialog-actions class="d-flex align-items-center justify-content-between">
    <button mat-button mat-dialog-close class="btn btn-warning ">Cancel</button>
    <button mat-raised-button type="submit" class="btn btn-primary" (click)="submitReturn()" color="primary">Return</button>
</div>