<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col"></div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
            <mat-card>
                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                    <mat-card-content>
                        <div class="d-flex justify-content-center align-items-center mb-3 login-text">
                            <mat-icon [inline]="true">library_books</mat-icon> &nbsp;Library Login
                        </div>
                        <mat-form-field appearance="fill" class="d-block">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="pat@example.com" formControlName="email" required>
                            <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                                {{getErrorMessage('email')}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="d-block">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                            <button mat-icon-button matSuffix class="mat-stroked-button" (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                                {{getErrorMessage('password')}}</mat-error>
                        </mat-form-field>
                        <div class="usertype-login">
                            <mat-radio-group formControlName="userType">
                                <mat-radio-button value="admin">Admin &nbsp; &nbsp;</mat-radio-button>
                                <mat-radio-button value="student">Student</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="px-2 pb-3">
                        <button mat-raised-button type="submit" [disabled]="loginForm.invalid" class="w-100"
                            color="primary">LOGIN</button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </div>
        <div class="col"></div>
    </div>
</div>