<div class="container-fluid h-100">
    <app-header></app-header>
    <div class="row no-gutters h-80 px-5">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 p-3 bg_card">
            <h4 class="text-white">Profile:</h4>
            <table id="profile-tbl" class="">
                <tr>
                    <th>Name</th>
                    <th>{{userInfo.studentName}}</th>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{userInfo.email}}</td>
                </tr>
                <tr>
                    <th>DOB</th>
                    <td>{{userInfo.dob}}</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>{{userInfo.department}}</td>
                </tr>
                <tr>
                    <th>Phonenumber</th>
                    <td>{{userInfo.phoneNumber}}</td>
                </tr>
                <tr>
                    <th>Year of Joining</th>
                    <td>{{userInfo.yearOfJoin}}</td>
                </tr>
                <tr>
                    <th>Year of Passing</th>
                    <td>{{userInfo.yearOfPass}}</td>
                </tr>
            </table>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 p-3 bg_card">
            <h4 class="text-white">Unreturned Info:</h4>
            <table id="returned-tbl" class="">
                <thead>
                    <tr>
                        <th scope="col">Book Id</th>
                        <th scope="col">Fine</th>
                        <th scope="col">Issued Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Returned Date</th>
                        <!-- <th scope="col">Action</th> -->
                    </tr>
                </thead>
                <tr *ngFor="let book of unreturn">
                    <td>{{book.bookId}}</td>
                    <td>{{book.fineAmount}}</td>
                    <td>{{book.issueDate | date: 'dd/M/YYYY'}}</td>
                    <td>{{book.dueDate | date: 'dd/M/YYYY'}}</td>
                    <td>{{book.returnedDate | date: 'dd/M/YYYY'}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row no-gutters h-10">
    </div>
</div>