.h-100 {
    height: 100vh;
}

.h-80 {
    height: 80vh;
}

.h-50 {
    height: 50vh;
}

.h-40 {
    height: 40vh;
}

.h-25 {
    min-height: 25vh;
}

.h-20 {
    height: 20vh;
}

.h-10 {
    height: 10vh;
}

#header {
    background-color: #212529;
}

.card_opt {
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;
}

.card_alignment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_card {
    background-color: #252525;
}

#profile-tbl, #returned-tbl {
    width: 100%;
    color: #fff
}

thead {
    background-color: rgb(162, 168, 172)
}