/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #3a3939 !important;
}

.cursor-pointer {
    cursor: pointer;
}

#header {
    background-color: #212529;
}

.h-100 {
    height: 100vh;
}

.h-50 {
    height: 50vh;
}

.h-40 {
    height: 40vh;
}

.h-25 {
    min-height: 25vh;
}

.h-20 {
    height: 20vh;
}

.h-10 {
    height: 10vh;
}
