<div class="container-fluid">
    <app-header></app-header>

    <div class="row no-gutters h-100">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 m-auto p-5" id="form_bg">
            <div>
                <h4 class="text-center mb-3">Search by bookId</h4>
                <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
                    <mat-form-field appearance="fill" class="d-block">
                        <mat-label>Enter your BookId</mat-label>
                        <input matInput placeholder="100001" formControlName="bookId" required>
                        <mat-error *ngIf="searchForm.get('bookId').invalid && searchForm.get('bookId').touched">
                            {{getErrorMessage('bookId')}}</mat-error>
                    </mat-form-field>

                    <button mat-raised-button type="submit" [disabled]="searchForm.invalid" class="w-100"
                        color="primary">Search
                        Book</button>
                </form>
            </div>
            <div class="search_results py-3" *ngIf="bookDetail !== null">
                <h5>Results is:</h5>
                <table id="search-tbl" class="">
                    <tr>
                        <th>BookId</th>
                        <td>{{bookDetail.bookId}}</td>
                    </tr>
                    <tr>
                        <th>BookName</th>
                        <td>{{bookDetail.bookName}}</td>
                    </tr>
                    <tr>
                        <th>Edition</th>
                        <td>{{bookDetail.edition}}</td>
                    </tr>
                    <tr>
                        <th>Pages</th>
                        <td>{{bookDetail.pages}}</td>
                    </tr>
                    <tr>
                        <th>Published Date</th>
                        <td>{{bookDetail.publishedDate | date: 'dd-MM-YYYY'}}</td>
                    </tr>
                    <tr>
                        <th>Total Copies</th>
                        <td>{{bookDetail.totalCopies}}</td>
                    </tr>
                    <tr>
                        <th>Available Copies</th>
                        <td>{{bookDetail.availableCopies}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    </div>
</div>