.h-100 {
    height: 100vh;
}

.h-50 {
    height: 50vh;
}

.h-40 {
    height: 40vh;
}

.h-25 {
    min-height: 25vh;
}

.h-20 {
    height: 20vh;
}

.h-10 {
    height: 10vh;
}

#header {
    background-color: #212529;
}

.card_opt {
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;
}

.card_alignment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_1 {
    background: #fe7d00;
    border: 1px solid #fe7d00;
}

.card_2 {
    background: #fe00fe;
    border: 1px solid #fe00fe;
}

.card_3 {
    background: #008800;
    border: 1px solid #008800;
}

.card_4 {
    background: #7c0083;
    border: 1px solid #7c0083;
}

.card_5 {
    background: #007dfe;
    border: 1px solid #007dfe;
}

.card_6 {
    background: #f7f700;
    border: 1px solid #f7f700;
}

.card_7 {
    background: #81daa9;
    border: 1px solid #81daa9;
}

.card_8 {
    background: #ebb5cf;
    border: 1px solid #ebb5cf;
}