<div class="container-fluid h-100">
    <app-header></app-header>
    <div class="row no-gutters h-40 px-5">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 m-auto">
            <div class="card_opt card_1 h-25 card_alignment cursor-pointer" (click)="goToPage('/book/entry')">
                <p>Book Entry</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 m-auto">
            <div class="card_opt card_2 h-25 card_alignment cursor-pointer" (click)="goToPage('/book/return')">
                <p>Book Return</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 m-auto">
            <div class="card_opt card_3 h-25 card_alignment cursor-pointer" (click)="goToPage('/admin/add')">
                <p>Student / Admin</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 m-auto">
            <div class="card_opt card_4 h-25 card_alignment cursor-pointer" (click)="goToPage('/book')">
                <p>Books / Add/ Update</p>
            </div>
        </div>
    </div>
    <div class="row no-gutters h-40 px-5">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 m-auto">
            <div class="card_opt card_5 h-25 card_alignment cursor-pointer" (click)="goToPage('/unreturned/book')">
                <p>Unreturned Book</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 m-auto">
            <div class="card_opt card_6 h-25 card_alignment cursor-pointer" (click)="goToPage('/unreturned/student')">
                <p>Unreturned Student</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 m-auto">
            <div class="card_opt card_7 h-25 card_alignment cursor-pointer" (click)="goToPage('/admin/search')">
                <p>Search by StudentId</p>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 m-auto">
            <div class="card_opt card_8 h-25 card_alignment cursor-pointer" (click)="goToPage('/book/search')">
                <p>Search by BookId</p>
            </div>
        </div>
    </div>
    <div class="row no-gutters h-10">

    </div>
</div>