<h1 mat-dialog-title>{{dialogTitle}}</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="bookForm">
    <div mat-dialog-content class="pb-3">
        <mat-form-field appearance="fill" class="d-block">
            <mat-label>Book Name</mat-label>
            <input matInput placeholder="Name" formControlName="bookName" required>
            <mat-error *ngIf="bookForm.get('bookName').invalid && bookForm.get('bookName').touched">
                {{getErrorMessage('bookName')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="d-block">
            <mat-label>Author</mat-label>
            <input matInput placeholder="Author" formControlName="author" required>
            <mat-error *ngIf="bookForm.get('author').invalid && bookForm.get('author').touched">
                {{getErrorMessage('author')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="d-block">
            <mat-label>Edition</mat-label>
            <input matInput type="number" placeholder="edition" formControlName="edition" required>
            <mat-error *ngIf="bookForm.get('edition').invalid && bookForm.get('edition').touched">
                {{getErrorMessage('edition')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="d-block">
            <mat-label>Published Date</mat-label>
            <input matInput placeholder="Date :- 1996-12-08" formControlName="publishedDate" required>
            <mat-error *ngIf="bookForm.get('publishedDate').invalid && bookForm.get('publishedDate').touched">
                {{getErrorMessage('publishedDate')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="d-block">
            <mat-label>Pages</mat-label>
            <input matInput type="number" placeholder="Pages" formControlName="pages" required>
            <mat-error *ngIf="bookForm.get('pages').invalid && bookForm.get('pages').touched">
                {{getErrorMessage('pages')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="d-block">
            <mat-label>Total Copies</mat-label>
            <input matInput type="number" placeholder="20" formControlName="totalCopies" required>
            <mat-error *ngIf="bookForm.get('totalCopies').invalid && bookForm.get('totalCopies').touched">
                {{getErrorMessage('totalCopies')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="d-block">
            <mat-label>Available Copies</mat-label>
            <input matInput type="number" placeholder="20" formControlName="availableCopies" required>
            <mat-error *ngIf="bookForm.get('availableCopies').invalid && bookForm.get('availableCopies').touched">
                {{getErrorMessage('availableCopies')}}</mat-error>
        </mat-form-field>

    </div>
    <div mat-dialog-actions class="d-flex align-items-center justify-content-between">
        <button mat-button mat-dialog-close class="btn btn-warning ">Cancel</button>
        <button mat-raised-button type="submit" [disabled]="bookForm.invalid"
            class="btn btn-primary" color="primary">Add</button>
    </div>
</form>