<div class="container-fluid">
    <app-header></app-header>

    <div class="row no-gutters mt-1">
        <div class="col">
            <div class="d-flex align-items-center justify-content-end py-3">
                <button class="btn btn-primary" (click)="openDialog('0ms', '0ms')">Add Book</button>
            </div>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">BookId</th>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Available</th>
                        <th scope="col">Total</th>
                        <th scope="col">Published</th>
                        <!-- <th scope="col">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of bookList">
                        <td>{{book.bookId}}</td>
                        <td>{{book.bookName}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.availableCopies}}</td>
                        <td>{{book.totalCopies}}</td>
                        <td>{{book.publishedDate | date: 'dd/M/yyyy'}}</td>
                        <!-- <td class="d-flex align-items-center justify-content-center">
                            <i class="fa fa-pencil-square-o p-1 text-primary cursor-pointer" aria-hidden="true"></i>
                            <i class="fa fa-trash p-1 text-danger cursor-pointer" aria-hidden="true"></i>
                        </td> -->
                    </tr>
    
                    <tr *ngIf="bookList.length == 0">
                        <td></td>
                        <td></td>
                        <td>No books found</td>
                        <td></td>
                        <td></td>
                        <!-- <td></td> -->
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>