<div class="container-fluid">
    <app-header></app-header>

    <div class="row no-gutters h-100">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 m-auto p-5" id="form_bg">
            <h4 class="text-center mb-3">Book Entry Form</h4>
            <form (ngSubmit)="onSubmit()" [formGroup]="entryForm">
                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Enter your BookId</mat-label>
                    <input matInput placeholder="100001" formControlName="bookId" required>
                    <mat-error *ngIf="entryForm.get('bookId').invalid && entryForm.get('bookId').touched">
                        {{getErrorMessage('bookId')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Enter your StudentId</mat-label>
                    <input matInput placeholder="100001" formControlName="studentId" required>
                    <mat-error *ngIf="entryForm.get('studentId').invalid && entryForm.get('studentId').touched">
                        {{getErrorMessage('studentId')}}</mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" [disabled]="entryForm.invalid" class="w-100" color="primary">Add
                    Entry</button>
            </form>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    </div>
</div>