<div class="container-fluid">
    <app-header></app-header>

    <div class="row no-gutters h-100">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 m-auto my-5 py-3 form_bg">
            <h4 class="mb-2 text-center text-white">Add Admin</h4>

            <form (ngSubmit)="adminSubmit()" [formGroup]="adminForm">
                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Enter your Name</mat-label>
                    <input matInput placeholder="Firnaas" formControlName="adminName" required>
                    <mat-error *ngIf="adminForm.get('adminName').invalid && adminForm.get('adminName').touched">
                        {{getAdminErrorMessage('adminName')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error *ngIf="adminForm.get('email').invalid && adminForm.get('email').touched">
                        {{getAdminErrorMessage('email')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>DOB</mat-label>
                    <input matInput placeholder="1996-08-10" formControlName="dob" required>
                    <mat-error *ngIf="adminForm.get('dob').invalid && adminForm.get('dob').touched">
                        {{getAdminErrorMessage('dob')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Phonenumber</mat-label>
                    <input matInput placeholder="770 807 1455" formControlName="phonenumber" required>
                    <mat-error *ngIf="adminForm.get('phonenumber').invalid && adminForm.get('phonenumber').touched">
                        {{getAdminErrorMessage('phonenumber')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="West street" formControlName="address" required>
                    <mat-error *ngIf="adminForm.get('address').invalid && adminForm.get('address').touched">
                        {{getAdminErrorMessage('address')}}</mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" [disabled]="adminForm.invalid" class="w-100"
                    color="primary">Add Admin</button>

            </form>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 m-auto my-5 py-3 form_bg">
            <h4 class="mb-2 text-center text-white">Add Student</h4>

            <form (ngSubmit)="studentSubmit()" [formGroup]="studentForm">
                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Enter your Name</mat-label>
                    <input matInput placeholder="Firnaas" formControlName="studentName" required>
                    <mat-error *ngIf="studentForm.get('studentName').invalid && studentForm.get('studentName').touched">
                        {{getStudentErrorMessage('studentName')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error *ngIf="studentForm.get('email').invalid && studentForm.get('email').touched">
                        {{getStudentErrorMessage('email')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>DOB</mat-label>
                    <input matInput placeholder="1996-08-10" formControlName="dob" required>
                    <mat-error *ngIf="studentForm.get('dob').invalid && studentForm.get('dob').touched">
                        {{getStudentErrorMessage('dob')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Department</mat-label>
                    <input matInput placeholder="ECE" formControlName="department" required>
                    <mat-error *ngIf="studentForm.get('department').invalid && studentForm.get('department').touched">
                        {{getStudentErrorMessage('department')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Year of Joining</mat-label>
                    <input matInput placeholder="1996" formControlName="yearOfJoin" required>
                    <mat-error *ngIf="studentForm.get('yearOfJoin').invalid && studentForm.get('yearOfJoin').touched">
                        {{getStudentErrorMessage('yearOfJoin')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Year of Passing</mat-label>
                    <input matInput placeholder="1996" formControlName="yearOfPass" required>
                    <mat-error *ngIf="studentForm.get('yearOfPass').invalid && studentForm.get('yearOfPass').touched">
                        {{getStudentErrorMessage('yearOfPass')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="d-block">
                    <mat-label>Phonenumber</mat-label>
                    <input matInput placeholder="770 807 1455" formControlName="phonenumber" required>
                    <mat-error *ngIf="studentForm.get('phonenumber').invalid && studentForm.get('phonenumber').touched">
                        {{getStudentErrorMessage('phonenumber')}}</mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" [disabled]="studentForm.invalid" class="w-100"
                    color="primary">Add Student</button>

            </form>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
    </div>
</div>