<div class="container-fluid">
    <app-header></app-header>

    <div class="row no-gutters h-100">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 m-auto p-5" id="form_bg">
            <div>
                <h4 class="text-center mb-3">Search by StudentId</h4>
                <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
                    <mat-form-field appearance="fill" class="d-block">
                        <mat-label>Enter your StduentId</mat-label>
                        <input matInput placeholder="100001" formControlName="studentId" required>
                        <mat-error *ngIf="searchForm.get('studentId').invalid && searchForm.get('studentId').touched">
                            {{getErrorMessage('studentId')}}</mat-error>
                    </mat-form-field>

                    <button mat-raised-button type="submit" [disabled]="searchForm.invalid" class="w-100"
                        color="primary">Search
                        Stduent</button>
                </form>
            </div>
            <div class="search_results py-3" *ngIf="studentDetail !== null">
                <h5>Results is:</h5>
                <table id="search-tbl" class="">
                    <tr>
                        <th>StudentId</th>
                        <td>{{studentDetail.studentId}}</td>
                    </tr>
                    <tr>
                        <th>Student Name</th>
                        <td>{{studentDetail.studentName}}</td>
                    </tr>
                    <tr>
                        <th>PhoneNumber</th>
                        <td>{{studentDetail.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{studentDetail.email}}</td>
                    </tr>
                    <tr>
                        <th>Year of Joining</th>
                        <td>{{studentDetail.yearOfJoin}}</td>
                    </tr>
                    <tr>
                        <th>Year of Passing</th>
                        <td>{{studentDetail.yearOfPass}}</td>
                    </tr>
                    <tr>
                        <th>DOB</th>
                        <td>{{studentDetail.dob}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    </div>
</div>