<div id="home-content">
    <div class="container-fluid" id="home_banner">
        <div class="row no-gutters">
            <div class="d-flex align-items-center justify-content-between py-3">
                <p></p>
                <button class="btn btn-primary" (click)="goToLoginPage()">Login</button>
            </div>
        </div>
        <div class="row no-gutters h-50 text-center justify-content-center align-items-center">
            <div class="col">
                <h1>Library Management</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid text-white p-5" id="home-body">
        <p class="font-weight-bold">List of Books:</p>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Available</th>
                    <th scope="col">Total</th>
                    <th scope="col">Published</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of bookList">
                    <td>{{book.bookId}}</td>
                    <td>{{book.bookName}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.availableCopies}}</td>
                    <td>{{book.totalCopies}}</td>
                    <td>{{book.publishedDate | date: 'dd/M/yyyy'}}</td>
                </tr>

                <tr *ngIf="bookList.length == 0">
                    <td></td>
                    <td></td>
                    <td>No books found</td>
                    <td></td>
                    <td></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>