#home_banner {
    background-color: #212529;
    color: #fff !important;
}

.h-50 {
    min-height: 30vh;
}

table tbody {
    display: block;
    max-height: 33vh;
    overflow-y: auto;
}

table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

tbody::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #000000;
}