<div class="row no-gutters h-10 align-items-center justify-content-between" id="header">
    <div class="col d-flex align-items-center justify-content-between">
        <p class="text-white mb-0">LIBRARY</p>
        <button class="btn btn-primary" (click)="logout()">logout</button>
    </div>
</div>