<div class="container-fluid">
    <app-header></app-header>

    <div class="row no-gutters h-100">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 m-auto p-5" id="form_bg">
            <div>
                <h4 class="text-center mb-3">Unreturn Books</h4>
                <form (ngSubmit)="onSubmit()" [formGroup]="unreturnForm">
                    <mat-form-field appearance="fill" class="d-block">
                        <mat-label>Enter your BookId</mat-label>
                        <input matInput placeholder="100001" formControlName="bookId" required>
                        <mat-error *ngIf="unreturnForm.get('bookId').invalid && unreturnForm.get('bookId').touched">
                            {{getErrorMessage('bookId')}}</mat-error>
                    </mat-form-field>

                    <button mat-raised-button type="submit" [disabled]="unreturnForm.invalid" class="w-100"
                        color="primary">Search</button>
                </form>
            </div>

            <div class="search-result py-5" *ngIf="unreturnedBook !== null">
                <h5 class="text-white">Results are :</h5>
                <table id="returned-tbl" class="w-100">
                    <thead>
                        <tr>
                            <th scope="col">Book Id</th>
                            <!-- <th scope="col">Fine</th> -->
                            <th scope="col">Issued Date</th>
                            <th scope="col">Due Date</th>
                            <!-- <th scope="col">Returned Date</th> -->
                            <!-- <th scope="col">Action</th> -->
                        </tr>
                    </thead>
                    <tr *ngFor="let book of unreturnedBook">
                        <td>{{book.bookId}}</td>
                        <!-- <td>{{book.fineAmount}}</td> -->
                        <td>{{book.issueDate | date: 'dd/M/YYYY'}}</td>
                        <td>{{book.dueDate | date: 'dd/M/YYYY'}}</td>
                        <!-- <td>{{book.returnedDate | date: 'dd/M/YYYY'}}</td> -->
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    </div>
</div>